*{font-family: "PT Sans","Helvetica Neue",Arial,sans-serif}
h1,h2,h3,h4{font-family:'liberationsans-bold', sans-serif}
.top_menu{margin:0 0 20px 0;padding-top:7px;background-color:#F3F3F3;border-bottom:1px solid #e7e7e7}
.inner_menu{font-size:14px;margin-bottom:0;padding-left:0}
.inner_menu li{
    background-color: white;
    list-style: none;
    display: block;
    float: left;
    margin-right: 2px;
    border: solid thin #EEE;
    border-radius: 4px
}
.inner_menu li a{padding:7px;display:block}
.inner_menu span{padding-left:10px}
.inner_menu .current{color:#FFF;background-color:#A3A3A3}
.adm_title h1 {
    text-transform: uppercase;
    margin: 0;
    color: #000;
    padding: 7px 0;
    font-size: 18px;
    float: left
}
#adm a{cursor:pointer}
#result-message{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    min-height: 40px;
    font-size: 20px;
    text-align: center;
    /* position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 20px;
    min-width: 400px;
    min-height: 40px;
    margin-left: 20px;
    margin-top: -250px;
    display: none;
    background: #f2f2f2;
    border-radius: 10px;
    border: 1px solid #ccc */
}
#result-message .fa-times{
    font-size: 40px;
    opacity: 0.4;
    float: right;
    cursor:pointer
}
.errorSummary{color:red}
.errorSummary ul{padding-left:0;list-style:none}
.tabs li {
    background-color: floralwhite;
    border:solid thin #DDD;
    border-radius:5px 5px 0 0;
    margin-right:4px;
    list-style:none
}
.tabs li a{padding:5px 15px}
.nav-tabs>li>a{margin:0}
.nav-tabs>li>a:hover{border-color:transparent}
.tabs li i.close {
margin-top: -20px;
float: left;
margin-left: -10px;
font-size: 40px;
}
.tabs a.active{font-weight:bold;background-color:wheat}
/*.yiiTab .nav-tabs{border-bottom:none}
.yiiTab > div{border:1px solid #ddd;padding-bottom:20px}*/
.gridButtons {margin:10px 0}
.gridButtons input{margin-right:5px}
.gridButtons .right-btn {
    float: right
}
.pagesize{clear:both}
.pagesize span {cursor: pointer}
.ico_holder,.attache_loader{border:2px dashed rgba(0,0,0,.2);min-width:240px;height:136px}
.ico_holder:hover{border:2px dashed rgba(0,0,0,.4);cursor:pointer}
.ico_holder:hover i{opacity:0.4}
.ico_holder i:hover,.attache_holder i:hover{opacity:0.6;cursor:pointer}


textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select {
    width:100%;
    font-weight:400;
    height:28px;
    padding-left:8px;
    background-color:#ffffff;
    border:1px solid #cccccc;
    vertical-align:middle;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition:border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition:border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition:border linear 0.2s, box-shadow linear 0.2s;
    -o-transition:border linear 0.2s, box-shadow linear 0.2s;
    transition:border linear 0.2s, box-shadow linear 0.2s
}
label>input{display:block;margin-right: 15px}
label{clear:both;display:block}

/* filedrop */
.fd-zone>div:first-child{opacity:0}
.fd-file{
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute !important;
    right: 0 !important;
    width: 100% !important;
    font-size: 1px !important;
    z-index: 1 !important;
    padding: 0 !important;
    margin: 0 !important;
    cursor: pointer !important
}
.ico_holder .fd-file{height:136px}
.attache_loader{min-height:136px;display:block}
.attache_loader .fd-file{height:130px !important;}

.attache_holder > div{
    border-top:1px #ddd dashed;
    min-height:150px;
    display:block;
    padding-top:5px;
    clear:both
}
.attache_holder .ext{
    margin-bottom:15px;
    width:160px;
    height:120px;
    cursor:move !important;
    float:left
}
.attache_holder i.fa-times{
    float:left;
    margin:5px;
    font-size:24px;
    opacity:.2
}
.attache_holder .attached_file_info{
    float: left;
    margin-left: 15px;
}

.ico_holder img{margin:0 auto;display:block;max-height:132px}
.ico_holder img.ajax-loader{margin:0 auto;padding-top:48px}
.ico_holder i{
    position:absolute;
    font-size:24px;
    opacity:0.2
}

#teamTab .ico_holder{height:254px}
#teamTab .ico_holder img{max-height:250px}
#teamTab .ico_holder img.ajax-loader{padding-top:110px}
#teamTab .ico_holder .fd-file{height:250px}


textarea{resize:vertical}
input[type="number"] { width: 75px }
.mess-thumb img{float:left}

.grid-view table>thead>tr>th {background-color:#DDD}
.grid-view .table-bordered{border:none}

.grid-view table th a{font-size:16px;font-weight:400}

.grid-view table th a.asc {
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAMCAYAAACwXJejAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAACWSURBVHjajNAvCgJhFATw38p2T2KzegOjBxAMpsVqEINnMC0G057ATSbBrtg8gyAIJstavoXlwz87Zea9N2HeJFVV+Ycky7Lm3MMFQ5T1sqMFWplSzILeRrcuJnilKHDCEnkwjLDBE/0UN0yxwzyYxoEHeNSZyuY3AQWOcfBFZFp9+u6MQ9B7XL9VsA6c/+qpxD3O9x4AWYocCrw4l5IAAAAASUVORK5CYII=") right center no-repeat;
	padding-right: 12px
}
.grid-view table th a.desc {
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAMCAYAAACwXJejAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAACMSURBVHjajNAhCgJBFAbgz8ViEgQvYNHoAQSTaZNVsJrcK5gMgiCYRBDcZBK8lknwBpYnyDAL/uUfhu8Nj2lVVSXJHI/fiyIBHVyiG1GJXnQjWkevmtAY0zjPMMyhbfLqJkVlugcWmHxRH2e8sAtQ44krukVM7DHALdAdI5ywbOMonzcOuS/I5i/0GQDn6hFxCVILOAAAAABJRU5ErkJggg==") right center no-repeat;
	padding-right: 12px
}

.yiiTab .grid-view table td{vertical-align:middle}
.grid-view thead th a{font-family:'liberationsans-bold',sans-serif;font-size:12px}
.table-bordered>thead>tr>th,.grid-view table .filters td{text-align:center;border-bottom:0}
.grid-view input[type=checkbox]{display:block;margin:0 auto}
.grid-view .pager{margin:40px 120px 0}
.datetime_field{
    width: 200px !important;
    float: left;
    height: 31px !important
}
.input-group-addon {
    float: left; width: 40px
}
.countChildren{
    border: thin solid #87CEFA;
    border-radius: 4px;
    padding: 3px 6px;
    background-color: #EE82EE;
    float: right;
    cursor: pointer;
    color: white
}
.logout{
    display: inline-block;
    float: right;
    line-height: 42px;
    text-decoration: underline
}
#footer {
    padding: 10px;
    margin: 10px 20px 70px 20px;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #C9E0ED;
}

.fa-star,.fa-star-o{color:red}
input[disabled]{border: none}

footer{max-width:90%;padding-top:40px;margin:0 auto}


#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 340px;
    margin-left: -170px;
    z-index: 9999;
    margin-top: -250px;
    background-color: white;
    padding: 15px;
    border: thin solid grey;
    border-radius: 5px;
    display: none
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.4);
    z-index: 9998;
    display: none
}
.item_id{
    float: right;
    font-size: 20px;
    margin-right: 15px;
    color: rgb(238, 236, 236);
}
.gridButtons .item_id{
    margin-top: -8px;
    font-size: 30px;
}
.yiiTab .nav>li>a {position: static}
.nav-tabs {margin-bottom:-1px}
.time_mem{display: none;}
.view td.create_first{
    width: 250px;
    text-align: center;
    vertical-align: middle;
    color: gainsboro;
    width: 250px
}
.aliastd input {display:inline;width:auto}
.flag{
    display: block;
    position: absolute;
    margin-top: 9px;
    margin-left: 4px;
    width: 16px;
    height: 11px
}
.flag.ru{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAE2SURBVHjaYvz69T8DAvz79w9CQVj/0MCffwwAAcQClObiAin6/x+okxHMgPCAbOb//5n+I4EXL74ABBALxGSwagTjPzbAyMgItAQggBg9Pf9nZPx//x7kjL9////9C2QAyf9//qCQQCQkxFhY+BEggFi2b/+nq8v46BEDSPQ3w+8//3//BqFfv9BJeXmQEwACCOSkP38YgHy4Bog0RN0vIOMXVOTPH6Cv/gEEEEgDxFKgHEgDXCmGDUAE1AAQQCybGZg1f/d8//XsH0jTn3+///z79RtE/v4NZfz68xfI/vOX+4/0ZoZFAAHE4gYMvD+3/v2+h91wCANo9Z+/jH9VxBkYAAKIBRg9TL//MEhKAuWAogxgZzGC2CCfgUggAoYdGAEVAwQQ41egu5AQAyoXTQoIAAIMAD+JZR7YOGEWAAAAAElFTkSuQmCC)}
.flag.uk{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAFQSURBVHjaYmRo/c8AB//+MfwBkgwg8s8/KPoFI4GIgQEgAIdycgMACAMxUAF6oygqoQ1q45dkzSH5N26XR/8zCEuepggsVEPFkxB+S9bcRwCxMDCBVD/5+h+o9O8/BqDE378Mv/+DpCGKfgERmCHLw8jw4x9AAIFs+AdUBLQWZDZI9a/////8BSuFawBzf/8FuQMggFiALvsLsh2k+g/cbCTVUBLkKgaGDwwAAcTCIHJKhFPh19+fIHf/+/cbpBNI/gO75x+I/RfKluFiY5A6AhBAjH8fMjDI5P///+A/wy8GoFf/A+34hZVkYlJ6f/wUQACxAEOSESwEDEhURSiqwbJ/gKENEEAgDcwgDlAIrgiLNgaGvyD0hwEggEAamP4DdUrCREE6GRl/gyMPQv6BqgYG+z8GgABi/HoTFL///kBJBjgbwmBAcEEcBgaAAAMASIdu6OFHDhsAAAAASUVORK5CYII=)}
.flag.en{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAJNSURBVHjaADEAzv8Bdn+ySSLrALyz/0lXtNYL/v//LScKIayCARET3EFo0tbz/wD+TSv5/Z6NCFtlhsERAgAxAM7/AHaAsuTp/v729f7Uz/75++Dm/vT2/v7Mxf7XzvP1/t7j/v72+P6wpv7y8MfU/j9LpQIAMQDO/wIA/wL/AADL3AoBGx8BtLIfCvf09wEB09AB2tzy9gEhCvMBc3EBOUOWugz39gAA9P4CiImBkQEEGBlOPBJkcHNl2LNdnPkLw927DD9eSTF/YqgtY2hrmXJY+MNHhl+/QAoBAojFk+mYNJOJDNt7BqBFT/4zaGsxdDczXL7DcOEaw5GzDDl5DPdu5oh8ZeD/9V9Yko2hByAAADEAzv8E/8fAAEhJANHWAP4AAN7hAOrlAOzrAPDzAPj2AOjnAL5ZAPv4APj6APz8AGZY7gAAAoiFUUmVQV6FgUuQAWiFpSWDgABDYjzDZ6CGHwycbAxzZjN8+8bw4zfDz18M2sqC+w8CBBDLZsEAxX/ij35KAP1io/yBobmJYcsOBnNDBn52hrV7GSIDGWZNz14u8eX7Dw9mtpkM7gABxAQMeJDrgarl3jA01jNU1r/7ycbw7QfD9z/H3gkzTJ3HEBUz1eXK/19f/v79w8DwCyCAmEBO/89go/bp//Hd/1s7Dz/hY2H9/z8h8H+0n4Tg/5UPxf+t3/zr+J6FGT8Y/v5mYPgNEEAsDP//3t867drS2UyJhe2x6xje/7UOFbPYvQdoZ9854/8vrk5n+JrCdeXNts1SIHdYAgQYAHK0/st9mgoPAAAAAElFTkSuQmCC)}
input.ml{padding-left:22px !important}

.table .checkbox, .table td.radio{display:table-cell;margin-top:0;margin-bottom:0}
.table .checkbox label{left:18px;top:5px}


